---
import BaseLayout from '../layouts/BaisLayout.astro'
---
<BaseLayout title='INDEX' description="INDEX coworking space located in mansura and 6'October City" >
		<h1>Astro</h1>
</BaseLayout>


<style>
h1{
  color:hsl(var(--accent))
}
</style>
