---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import data from "../../content/global/index.json";
const socialAcounts = data.incupSocialAcounts;
---

<div class="incup">
  <Image
    src={import("../assets/incup.png")}
    alt={"incup logo with coffe dicoration"}
  />
  <h2>Meet our Buisness partner</h2>
  <p>
    In the heart of 6th of October, InCup Coffee stands as a beacon of
    excellence in the world of beverages and desserts. We are more than just a
    coffee brand; we are curators of experiences, dedicated to providing the
    best coffee, drinks, and desserts that awaken the senses and ignite the
    soul. Our commitment to quality is unwavering, ensuring that every sip taken
    at InCup Coffee is not just a momentary pleasure but a meaningful
    experience. With our motto, "Every sip means something," we invite our
    customers to embark on a journey of taste, connection, and fulfillment with
    each cup, reaffirming the significance of every sip.
  </p>
  <ul>
    {
      socialAcounts.map((link) => (
        <li>
          <a
            href={link.url}
            aria-label={link.name}
            target="_blank"
            rel="noopener"
          >
            <Icon name={link.iconName} color={"black"} stroke-width={2} />
          </a>
        </li>
      ))
    }
  </ul>
</div>
<style>
  .incup {
    background: #c54136;
    margin-inline: -2rem;
  }
  p,
  h2 {
    min-width: min(350px, 100%);
    padding: 0rem 2rem;
    text-wrap: balance;
  }
  .incup img {
    width: 100vw;
    height: auto;
  }
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem 2rem;
  }
</style>
