---
import { Icon } from "astro-icon/components";
import data from "../../content/global/index.json";
const benefits = data.benefits;
---

<section>
  <h2 class="h2">WHY INDEX</h2>
  <ul>
    {
      benefits.map((benefit) => (
        <li class="benefit">
          <Icon
            name={benefit.icon}
            color={"hsl(var(--accent))"}
            width={50}
            height={50}
          />
          <h3>{benefit.name}</h3>
          <p>{benefit.description}</p>
        </li>
      ))
    }
  </ul>
</section>
<style>
  /* TODO:fix the responsive layout centering for middel size devices */
  section {
    padding-block: 2rem;
  }
  h2 {
    text-align: center;
    color: hsl(var(--accent));
  }

  h3,
  p {
    color: white;
  }
  p {
    text-wrap: balance;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  li {
    margin-block: 1rem;
    list-style: none;
    padding: 0.5 rem;
    width: min(98%, 300px);
  }
  @media (max-width: 668px) {
    li {
      width: min(98%, 350px);
    }
  }
</style>
