<!-- Mansura Branch -->
<table>
  <thead>
    <tr>
      <th colspan="6">Mansura Branch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="6">Shared Area: Hour - 20, Day - $50 (Free Hot Drink)</td>
    </tr>
    <tr>
      <td colspan="6">Meeting Room: Fit 5 - 50 hours, Fit 10 - 70 hours</td>
    </tr>
    <tr>
      <td colspan="6"
        >Packages: Stander - 20 hours for $400, Premium - 40 hours for $600,
        Elite - 100 hours for $900</td
      >
    </tr>
  </tbody>
</table>

<!-- October Branch -->
<table>
  <thead>
    <tr>
      <th colspan="6">October Branch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="6"
        >Shared Area: Hour - 25, Day - $70, Week - $200, Month - $700</td
      >
    </tr>
    <tr>
      <td colspan="6">Meeting Room: Fit 5 - 50 hours, Fit 10 - 70 hours</td>
    </tr>
    <tr>
      <td colspan="6">Cabin: Hour - 50, Day - $850</td>
    </tr>
  </tbody>
</table>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid hsl(var(--accent) / 20%);
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: hsl(var(--primary));
    color: white;
    color: orange;
    cursor: pointer;
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: hsl(var(--primary) / 20%);
  }
  tr {
    background-color: hsl(var(--primary) / 5%);
  }
</style>
